{% block content %} 

  <section class="first-section padding-60" id="home">	
    <div class="row">

      <div class="row">
        <div class="small-12 columns">
          <img src="assets/images/logo.png">
        </div>
      </div>

      <div class="row">
        <div class="small-12 columns left padding-top-60">
          <h1>Thanks!</h1>
          <P>
            I'll be in touch with you shortly.
          </P>
        </div>
      </div>

      <div class="row">
        <div class="small-12">
          <a href="http://william-cooke.com" class="button secondary radius">Return to Site</a>
        </div>
      </div>

    </div>
  </section>

{% endblock %}